body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus, 
select:focus {
    outline: none;
}

.temtem-app h1 {
    font-size: 1.7rem;
}

.temtem-app-dark {
    background-color: #111;
    color: #fff;
}

.temtem-app-dark .temtem-app-theme-container select,
.temtem-app-dark .temtem-search-container input,
.temtem-app-dark .temtem-search-container select {
    background-color: #111;
    color: #fff;
}

.temtem-app-light .temtem-app-theme-container select,
.temtem-app-light .temtem-search-container input,
.temtem-app-light .temtem-search-container select {
    background-color: #fff;
    color: #000;
}

.temtem-app-light {
    background-color: #fff;
    color: #000;
}

.temtem-app-theme-container {
    margin-bottom: 1rem;
    width: 100%;
}

.temtem-app-theme-container select {
    padding: .5rem .25rem;
}

.temtem-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.temtem-search-container {
    margin-bottom: 1.5rem;
    width: 100%;
}

.temtem-search-container input {
    width: calc(100% - 1.25rem);
}

.temtem-search-container input::placeholder {
    color: #aaa;
}

.temtem-app-theme-container select,
.temtem-search-container input,
.temtem-search-container select {
    border: 1px solid #666;
    border-radius: 3px;
    display: block;
    margin: 0.5rem 1rem 0.25rem 0;
}

.temtem-search-container input,
.temtem-search-container select {
    padding: .75rem 0.5rem;
}

.temtem-search-container select {
    width: 100%;
}